html,
body {
    margin: 0px;
    padding: 4px;
}

/* Partie 02 */

.correct {
    color: green;
}

.incorrect {
    color: red;
}

/* Partie 03 */

ul {
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #E5EECC;
    font-size: 1.5em;
}

ul ul {
    display: none;
    margin-left: 20px;
}

.elementSelec {
    background-color: #D5CCEE;
}